* {margin: 0px;
    padding: 0px;}

.heading {
    background-image: url(../images/gallery-backg2-1.jpg);
    height: 300px;
}

h1 {
    padding-top: 10px;
    font-size: 140px;
    text-align: center;
    height: 120px;
    font-family: 'Marck Script', cursive;
    color: #FFD342;
    text-shadow: 1px 1px black;
}

h2 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Delius Unicase', cursive;
    padding-top: 20px;
    margin-bottom: 20px;
}

.nav > li > a {
    background-color: #fe4042;
    font-family: 'Marck Script', cursive;
    color: black;
    font-size: 35px;
}

.navbar .nav-pills > .active > a {
    background-color: #fe4042;
    color: black;
}
    
.navbar .nav-pills  a:hover {
    background-color: white;
    color: black;
}

.navbar .nav-pills > .active > a:hover {
    background-color: white;
    color: black;
}

.container {
    width: 100%;
    background-image: url(../images/about-backg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.about {
    text-align: center;
    height: 520px;
}

.about p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 42px;
    color: #3B4F5E;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 33%;
    margin: auto;
    background-image: url(../images/.jpg);
    position: relative;
}

#myCarousel {
    margin-top: 28px;
    margin-bottom: 50px;
    width: 100%;
}

.contactUS p {
    margin-top: 20px;
    color: #fe4042;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    text-align: left;
    text-shadow: 3px 1px black;
}

.contactUS p:nth-child(2) {
    background-image: url(../images/bunny.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.contactUS img {
    text-align: right;
}

.contactUS {
    text-align: center;
    padding-bottom: 20px;
}

.nothing {
    height: 200px;
}

.Space {
    height: 20px;
}

.form-control {
    margin-left: 70px;
    margin-right: 70px;
}

.glyphicon {
    font-size: 25px;
}

.col-md-3 {
    text-align: center;
    margin-top: 70px;
}

.col-md-3 img {
    margin-left: 60px;
}

.col-md-6 img {
    margin-top: 18px;
}

.col-md-6 > btn > a:hover {
    background-color: #fe4042;
}

@media screen and (max-width: 570px) {
    h1 {
        font-size:40px;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size:80px;
    }
}

@media screen and (max-width: 770px) {
    .lead {
        font-size:20px;
    }
}
 
@media screen and (max-width: 570px) {
    .lead {
        font-size:0.8em;
    }
}